body {
  margin: 0;
}

header {
  height: 176px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

article > h2 {
  display: none;
}

footer {
  background-color: #444;
  text-align: center;
  height: 600px;
  padding: 20px;
}

.vertical-align {
  position: relative;
  top: 50%;
}

.greyBg {
  background-color: #b4b4b4;
  width: 100%;
}

.grey {
  background-color: #eee;
}

.greyDeep {
  background-color: #444;
}

.lastRow li {
  display: inline;
  margin: 7px;
}

.menuList {
  display: flex;
  justify-content: center;
}

.menuList > li {
  flex: 1;
  height: 176px;
  vertical-align: middle;
}

.theBigTwo > div {
  width: 50%;
  height: 767px;
}

.latestPostWrapper > div {
  flex: 1;
  height: 542px;
}

.latestPostWrapper > article {
  flex: 1;
  height: 542px;
}

.personOftheWeek > article {
  display: flex;
}

.tagWrapper > p {
  margin-right: 10px;
}

.peopleWroteWrapperRow > article {
  display: flex;
  flex: 1;
  padding: 20px;
}

.article-details li {
  margin-left: 70px;
  padding: 10px;
}

.theBigTwo {
  width: 100%;
  display: inline-flex;
}

.articleHeader {
  display: inline-flex;
}

.tagWrapper {
  display: inline-flex;
}

.mainArticleWrapper {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%); /* IE */
  -moz-transform: translateY(-50%); /* Firefox */
  -webkit-transform: translateY(-50%); /* Safari and Chrome */
  -o-transform: translateY(-50%);
}

.sectionThree {
  width: 100%;
  height: 300px;
  margin-top: 20px;
  display: inline-flex;
}

.article-details {
  width: 60%;
}

.article-details article {
  margin-left: 10%;
  padding-top: 50px;
}

.article-details ul {
  list-style-type: circle;
}

.secthreeImage {
  width: 40%;
}

.secthreeImage img {
  margin-top: 50px;
}

.latestPostWrapper {
  display: flex;
  margin-top: 10px;
}

.latestPost {
  padding: 20px;
}

#featuredPostOne {
  color: #fff;
}

#featuredPostOne .articleCenter {
  text-align: center;
}

.sec6-full-width {
  width: 100%;
  height: 658px;
  background-color: #b4b4b4;
  margin-top: 20px;
  text-align: center;
}

.sec6-full-width article {
  padding-top: 100px;
}

.see-latest-articles {
  width: 100%;
  height: 200px;
  background-color: #fff;
  text-align: center;
}

.see-latest-articles a {
  color: #000;
  font-size: 30px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%); /* IE */
  -moz-transform: translateY(-50%); /* Firefox */
  -webkit-transform: translateY(-50%); /* Safari and Chrome */
  -o-transform: translateY(-50%);
}

.books {
  margin-top: 20px;
}

.personOftheWeek {
  height: 342px;
}

.personOftheWeekContent {
  padding: 20px;
}

.peopleWroteWrapperRow {
  height: 280px;
  display: flex;
}

.peopleWrote_article_details {
  margin-left: 20px;
  padding-right: 20px;
}

.section-seven ul {
  list-style: circle;
  margin-left: 20px;
}

.section-seven li {
  padding: 15px;
}

.section-seven a {
  font-size: 20px;
}

.lastRow > img {
  flex: 1;
  padding: 10px;
  margin-bottom: 50px;
}

.lastRow > div {
  flex: 1;
  padding: 10px;
  margin-bottom: 50px;
}

.section-eight {
  width: 100%;
  height: 700px;
  display: inline-flex;
  margin-top: 20px;
}

.section-eight-links {
  width: 20%;
  padding-left: 40px;
}

.section-eight-links ul {
  list-style: circle;
  margin-left: 40px;
}

.section-eight-links li {
  padding: 15px;
  font-size: 20px;
  color: blue;
}

.section-eight-image {
  text-align: center;
  width: 70%;
  background-color: #eee;
  border-radius: 10px;
}

.section-eight-image form {
  margin-top: 20px;
}

.section-eight-image input {
  height: 40px;
  border-radius: 20px;
}

.section-eight-image button {
  height: 40px;
  border-radius: 20px;
  color: #000;
  outline: none;
}

.footerTags {
  text-align: center;
}

.footerTags ul {
  list-style: circle;
  margin: 10px;
}

.footerTags li {
  display: inline;
  margin: 7px;
}

.lastRow {
  display: flex;
}

.menuList > li > div {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%); /* IE */
  -moz-transform: translateY(-50%); /* Firefox */
  -webkit-transform: translateY(-50%); /* Safari and Chrome */
  -o-transform: translateY(-50%);
  text-align: center;
}

.menuList > li:first-of-type {
  background-color: #444;
}

.latestPostWrapper > div:first-of-type {
  background-color: #b4b4b4;
}

.latestPostWrapper > article:first-of-type {
  background-color: #b4b4b4;
}

.latestPostWrapper > div:last-of-type {
  background-color: #b4b4b4;
}

.peopleWroteWrapperRow > article > div:last-of-type {
  flex: 1;
}

.personOftheWeek:nth-of-type(2) {
  flex: 1;
}

.latestPostWrapper > article:last-of-type {
  background-color: #b4b4b4;
}

#featuredPostOne > div {
  height: 745px;
}

#featuredPostTwo > div {
  height: 497px;
}

#featuredPostOne > div:nth-of-type(2) {
  background-color: #444;
}
