body {
  margin: 0;
}

header {
  height: 176px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;

}

.greyBg{
  background-color: #b4b4b4;
  width: 100%;
}

.grey{
  background-color: #eee;
}

.greyDeep {
  background-color: #444;
}

.menuList{
  display: flex;
  justify-content: center;
}


.menuList > li{
  flex: 1;
  height: 176px;
  vertical-align: middle;
}

.menuList > li > div{
  position: relative;  
  top: 50%;  
  transform: translateY(-50%);
  -ms-transform:translateY(-50%); /* IE */
  -moz-transform:translateY(-50%); /* Firefox */
  -webkit-transform:translateY(-50%); /* Safari and Chrome */
  -o-transform:translateY(-50%);
  text-align: center;
}

.menuList > li:first-of-type{
  background-color: #444;	
}

.theBigTwo{
  width: 100%;
display: inline-flex;
 
}

.theBigTwo > div{
  width: 50%;
  height: 767px;
}
.articleHeader {
  display: inline-flex;
}
.tagWrapper{
  display: inline-flex;
}

.tagWrapper > p{
  margin-right: 10px;
}

.mainArticleWrapper {
  text-align: center;
  position: relative;  
  top: 50%;  
  transform: translateY(-50%);
  -ms-transform:translateY(-50%); /* IE */
  -moz-transform:translateY(-50%); /* Firefox */
  -webkit-transform:translateY(-50%); /* Safari and Chrome */
  -o-transform:translateY(-50%);
  text-align: center;
}